.container {
  margin: 0px 2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(1px, auto);
}

.tab-header{
  grid-column: span 3;
  grid-row: 1;
}

.repeat-border{
  grid-column: span 3;
  grid-row: 2;
  height: 25px;
  background-image: url("https://cdn.discordapp.com/attachments/177963198912266240/359188500840710147/header_pattern.png");
  background-repeat: repeat-x;
  background-size: 42px;
  margin-top: 10px;
}

.head1 {
  grid-column: 1;
  grid-row: 3;
}

.head2 {
  grid-column: 3;
  grid-row: 3;
}

.col1 {
  grid-column: 1;
  grid-row: 4;
}

.col2 {
  grid-column: span 2 / 4;
  grid-row: 4;
}

.selection {
  margin-top: 2em;
}

.custom-button {
  margin: 0.5em 0.7em;
  width: 90% !important;
  min-height: 1.5em;
  font-size: 1.5em !important;
  text-align: left;
  padding: 0 0.5em;
}

.custom-button img {
  opacity: 0;
  position: absolute;
  height: 41px;
  left: 0px;
  top: 0px;
  transition: all 0.2s ease;
  z-index: -5;
}

.custom-button:hover img {
  opacity: 1;
  height: 41px;
  position: absolute;
  left: -48px;
  top: 0px;
  transition: all 0.2s ease;
  z-index: -5;
}

.text-area {
  font-family: monospace;
  font-size: 1.5em;
  height: inherit;
  margin: 0;
  padding: 0.5em 0;
  overflow-y: scroll;
}

.large-border {
  border-left: solid 1em rgba(0, 0, 0, 0.1)
}

.small-border {
  margin-left: 1em;
  border-left: solid 3px rgba(0, 0, 0, 0.1)
}

.panel {
  border-left: solid 1em rgba(0, 0, 0, 0.1);
  border-left: solid 3px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  background-color: #dcd8c0;
  padding: 1em;
}

.bookmark-wrapper {
  height: 500px;
  overflow: auto;
  overflow-x: hidden;
}
.top-sites-visited-figure {
  margin-left: 2em;
}
figure .bookmark-wrapper {
  margin: 0;
}
.footer {
  grid-column: span 3;
  grid-row: 5;
  height: 25px;
  background-image: url("https://cdn.discordapp.com/attachments/177963198912266240/359188500840710147/header_pattern.png");
  background-repeat: repeat-x;
  background-size: 42px;
  margin-top: 10px;
}
.display-none {
  display: none !important;
}
.vue-typer .custom.caret {
  background: transparent;
}
